:root{
    --primary:#146e98;
    --primary-light:#009be5;
}

.reports-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.header{
    padding: 10px 10px;
}

/* HEADER */
.reports-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.reports-title {
    font-size: 18px;
    font-weight: 600;
}

.reports-subtitle {
    font-size: 13px;
    font-weight: 400;
}

.buyer-chart-scroll {
    max-height: 420px;
    overflow-y: auto;
    padding-right: 8px;
}


/* scrollbar styling */
.buyer-chart-scroll::-webkit-scrollbar {
    width: 6px;
}

.buyer-chart-scroll::-webkit-scrollbar-thumb {
    background: #dcfce7;
    border-radius: 10px;
}

.buyer-chart-scroll::-webkit-scrollbar-track {
    background: transparent;
}

/* BUTTONS */

.btn-donezo-primary {
    background: #2563eb;
    color: white;
    border: none;
}

.btn-donezo-success {
    background: #009be5;
    color: white;
    border: none;
}

.btn-donezo-danger {
    background: #dc2626;
    color: white;
    border: none;
}

.btn-donezo-secondary {
    background: white;
    border: 1px solid #e2e8f0;
}



/* INPUT */

.donezo-label {
    font-size: 12px;
    color: #64748b;
    margin-bottom: 4px;
}

.donezo-input {
    border-radius: 8px;
    font-size: 13px;
}

/* TABLE */
td,th{
    white-space: nowrap;
}

.donezo-table-wrapper {
    overflow-x: auto;
}

.donezo-table {
    width: 100%;
    border-collapse: collapse;
}

.donezo-table thead {
    background: #000000;
}

.donezo-table th {
    font-size: 12px;
    font-weight: 600;
    padding: 12px;
    text-align: left;
}

.donezo-table td {
    padding: 10px;
    font-size: 13px;
}

.donezo-table tbody tr:hover {
    background: #f1f5f9;
}

/* PAGINATION */
.donezo-pagination {
    display: flex;
    justify-content: space-between;
    padding: 14px 18px;
    border-top: 1px solid #f1f5f9;
}

.pagination-info {
    font-size: 13px;
    color: #64748b;
}

.pagination-buttons {
    display: flex;
    gap: 8px;
}

/* CHART */
.donezo-chart {
    height: 320px;
}

/* SECTION TITLE */
.section-title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}